@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-transform: capitalize;
  border: none;
  transition: all 0.4s ease-in-out;
}

body {
  /* font-family: "Roboto", serif; */
  font-family: "Montserrat", serif;
  color: white;
  font-weight: 500;
  background-color: #0b0b0b;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
